[submodule "rl-testbed-for-energyplus"]
	path = rl-testbed-for-energyplus
	url = https://github.com/IBM/rl-testbed-for-energyplus.git
[submodule "EnergyPlus"]
	path = EnergyPlus
	url = https://github.com/NREL/EnergyPlus.git
